<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>T셀파</title>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>

<!-- Spinner End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">마켓</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">마켓</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-5">
    <h2 class="mb-4">중고거래 게시글 작성</h2>
    <div class="form-group">
        <input class="form-control form-control-user" type="file"
               name="product_image" id="product_image" onchange="setThumbnail(event);">
    </div>
    <div id="image_container"></div>

    <div class="form-group">
        <input class="form-control form-control-user" type="file" multiple="multiple"
               name="product_detail_image" id="product_detail_image" onchange="setDetailImage(event);">
    </div>
    <div id="images_container"></div>
</div>

<script>
    function setThumbnail(event){
        var reader = new FileReader();

        reader.onload = function(event){
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "col-lg-6");
            document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script>
    function setDetailImage(event){
        for(var image of event.target.files){
            var reader = new FileReader();

            reader.onload = function(event){
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("class", "col-lg-6");
                document.querySelector("div#images_container").appendChild(img);
            };

            console.log(image);
            reader.readAsDataURL(image);
        }
    }
</script>
<!-- content 영역 종료 -->
<script th:src="@{/js/common.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>